@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;600;700&display=swap");

body {
  padding: 0;
  margin: 0 auto;
  background-color: #010c15;
  font-family: "Fira Code", monospace;
  font-style: normal;
}

.nav {
  display: flex;
  list-style: none;
  color: #607b96;
  
  margin: 0;
  padding: 1rem;
}
nav ul{
    border-bottom: #607b96 solid 1px;
}


.name{
    min-width: 40vw;
    padding-left: 2rem;
}

.decor {
  text-decoration: none;
  color: #607b96;
  cursor: pointer;
  border-left: #607b96 solid 1px;
  padding: 1rem;
}
.decor:hover {
  color: white;
  border-bottom: 2px solid #cc8b11;
}

.wrapper {
  margin: 5vh auto;
  border-radius: 10px;
  background-color: #1e2d3d;
  width: 95vw;
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  color: #e5e9f0;
}

.title h2 {
  color: #4d5bce;
}

main {
  display: flex;
  justify-content: space-around;
  padding: 3rem;
}

.footer_nav {
  display: flex;
}
footer ul {
    border-top: #607b96 solid 1px;
}

.find_me{
    padding-right: 2rem;
}
.footer_decor{
    text-decoration: none;
    color: #607b96;
    cursor: pointer;
    border-left: #607b96 solid 1px;
   
    padding:1rem  1rem 1.5rem 1rem ;
    
    
}

